center
    h1
        |   Bienvenido #{name} a FCT-APP
h2
    |    La Aplicaci&oacute;n para la federaci&oacute;n de taekwondo de Costa Rica.
tr
p
    |    El usuario y la contrase&ntilde;a para ingresar al sistema es Usuario: #{username} y contrase&ntilde;a: #{password}.
